/* Combine these... */
@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Pacifico&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-image: url("images/landing-background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 15%;
    overflow-x: hidden;
  }

/* Replae %s with px, and vh's too (to section size on fs?)*/
  #rohmer{
    position:absolute;
    z-index: 0;
    width: 510px;
    margin-left: -660px;
    margin-top: -14px;
  }

  #ozu{
    position:absolute;
    z-index: 0;
    margin-left: 120px;
    margin-top: -19.25px;
  }

  #kaul{
    position:absolute;
    z-index: 0;
    margin-left: 42.5%;
    margin-top: -2%;
  }

  #first-section{
    width: 100%;
    margin-top: 5%;
    height: 90vh;
  }

  #welcome{
    z-index: 1;
    -webkit-user-drag: none;
    max-width: 100%;
  }

  .phone{
    z-index: 1;
    -webkit-user-drag: none;
    max-width: 130%;
    margin-left: -15%;
    padding-top: 30%;
    display: none;
  }

  #bresson{
    position:absolute;
    z-index: 0;
    margin-left: -57.5%;
    margin-top: 26.75%;
  }

  #agnes{
    position:absolute;
    z-index: 0;
    margin-left: -25.5%;
    margin-top: 36%;
  }

  #liv {
    position:absolute;
    z-index: 0;
    margin-left: 30%;
    margin-top: 41%;
  }

#second-section{
    background-image: url("images/second-background.jpg");
    background-size: cover;
    padding-top: 5%;
    height: 90vh;
    width: 120%;
}

#title{
    display: block;
    z-index: 1;
    -webkit-user-drag: none;
    max-width: 100%;
    margin-left: 15%;
}

#description{
    z-index: 1;
    -webkit-user-drag: none;
    max-width: 100%;
}

.phone-cover{
  display: none;
}

.phone-download{
  display: none;
}

#daisies{
    position:absolute;
    z-index: 4;
    width: 30%;
    margin-left: -90%;
    margin-top: -3%;
}

#black{
    position:absolute;
    z-index: 4;
    width: 32%;
    margin-left: -72%;
    margin-top: 16%;
}

#close{
    position:absolute;
    z-index: 4;
    width: 41%;
    margin-left: 4.5%;
    margin-top: 12.5%;
}

#third-section{
    background-image: url("images/third-background.jpg");
    background-size: cover;
    width: 120%;
    height: 100vh;
}

#magazine{
    position:absolute;
    z-index: 3;
    width: 55%;
    margin-top: 2%;
    margin-left: -40%;
    -webkit-user-drag: none;
    max-width: 100%;
}

#download{
    position:absolute;
    z-index: 2;
    width: 40%;
    margin-top: 6.5%;
    margin-left: -3%;
    -webkit-user-drag: none;
}

#jang{
    position:absolute;
    z-index: 0;
    width: 20%;
    margin-left: -40%;
    margin-top: 13.75%;
}

#cover-1{
    position: absolute;
    display: block;
    width: 25%;
    margin-top: 18.5%;
    margin-left: 5%;
    z-index: 1;
    border: 10px solid rgba(17, 48, 107, 0.608);
    -webkit-user-drag: none;
}

#issue-one{
  position: absolute;
  width: 25%;
  margin-top: 29.5%;
  margin-left: -54.3%;
}

#cover-2{
  position: absolute;
  display: block;
  width: 25%;
  margin-top: 18.5%;
  margin-left: 35%;
  z-index: 1;
  border: 10px solid rgba(86, 97, 120, 0.608);
  -webkit-user-drag: none;
}

#issue-two{
  position: absolute;
  width: 25%;
  margin-top: 29.5%;
  margin-left: -24.5%;
}

#cover-3{
  position: absolute;
  display: block;
  width: 25%;
  margin-top: 18.5%;
  margin-left: 65%;
  z-index: 1;
  border: 10px solid rgba(206, 205, 187, 0.608);
  -webkit-user-drag: none;
}

#issue-three{
  position: absolute;
  width: 30%;
  margin-top: 29.7%;
  margin-left: 3.5%;
}

#resize{
  width: 35%;
  padding-top: 1%;
  margin-left: 10%;
  display: block;
}

#resize-bio{
  width: 35%;
  margin-top: -1%;
  margin-left: -40%;
}

#fourth-section{
  width: 120%;
  height: 95vh;
  background-image: url(images/fourth-background.jpg);
  background-size: cover;
}

#form{
  margin-left: -55%;
}

input, textarea{
  width: 15%;
  height: 40px;
  margin-left: 7%;
  border: 7px solid rgb(91, 106, 165);
  border-top: 3px solid rgb(91, 106, 165);
  border-right: 5px solid rgb(91, 106, 165);
  padding-left: 10px;
  font-family: Varela Round;
  font-weight: 500;
  outline-width: 0;
  font-size: 15px;
}

#submit{
  display: block;
  width: 415px;
  margin-top: 0.5%;
  margin-left: 46%;
  z-index: 5;
  background-color: white;
  border: 7px solid rgb(91, 106, 165);
  border-top: 3px solid rgb(91, 106, 165);
  border-right: 5px solid rgb(91, 106, 165);
  font-family: Pacifico;
  font-weight: 500;
  font-size: 20px;
}

#submit:hover{
  color: white;
  background-color: rgb(91, 106, 165);
  cursor: pointer;
}

#logo{
  display: inline;
  z-index: -1;
  width: 20%;
  margin-right: -30%;
}

#fifth-section{
  width: 120%;
  height: 85vh;
  background-image: url(images/fifth-background.jpg);
  background-size: cover;
}

#contact-form{
  padding-top: 1%;
}

#contact-form input{
  margin-top: 3%;
}

#contact-form *{
  display: block;
}

#section{
  padding-left: 45%;
  box-sizing: border-box;
}

#contact-form input, textarea {
  border-color:rgb(30, 44, 233);
  color: rgb(30, 44, 233);
  margin-top: 1%;
  width: 40%;
  font-family: Varela Round;
}

#contact-form button {
  border-color: rgb(30, 44, 233);
  color: #ffff;
  background-color: rgb(30, 44, 233);
  margin-left: 7%;
  margin-top: 1%;
}

#contact-form button:hover{
  background-color: rgb(30, 44, 233);
}

::placeholder {
  color: rgb(30, 44, 233);
  opacity: 1; /* Firefox */
}

/* DOES NOT WORK! */
/*#first-line{
  display: inline;
}*/

#message{
  height: 100px;
  padding-top: 1%;
}

p{
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: 700;
  font-size: 22px;
  width: 30%;
  text-align: left;
}

#text{
  padding: 10%;
}

#text *{
  padding: 1%;
}

#section{
  position: absolute;
  margin-top: -33%;
  margin-left: 5%;
}

#section input, textarea {
  width: 100%;
}

#links{
  margin-right: 100%;
  display: inline;
  letter-spacing: 5px;
}

#footer{
  color: white;
  background-color: rgb(99, 102, 171);
  padding: 0.3%;
}

#footer p{
  font-size: 15px;
  padding-left: 38%;
}

/* PHONE LAYOUT */
@media screen and (max-width: 500px) {
  .phone{
     display: block;
     margin-top: 10%;
  }

  #welcome{
    display: none;
  }

  .phone-download{
    display: block;
    max-width: 100%;
    z-index: 0;
    -webkit-user-drag: none;
  }

  .phone-cover{
    display: block;
    max-width: 80%;
    margin-left: 7%;
    z-index: 1;
    border: 10px solid rgba(206, 205, 187, 0.608);
    -webkit-user-drag: none;
  }

  #first{
    margin-bottom: 5%;
  }

  #second{
    margin-bottom: 5%;
  }

  #first-section{
    margin-top: 60%;
  }

  #second-section{
    width: 120%;
    padding-top: 35%;
    height: auto;
    padding-bottom: 10%;
  }

  #third-section{
    display: none;
  }

  #title{
    margin-left: 0;
  }

  #fourth-section{
    height: 60vh;
  }

  #fourth-section img{
    width: 80%;
  }

  #resize-bio{
    width: 10%;
    margin-left: -3%;
  }

  #form{
    padding-top: 5%;
  }

  #fourth-section input{
    width: 37%;
    margin-left: 32%;
  }

  #submit{
    width: 40%;
  }

  #footer{
    width: 95%;
    text-wrap:nowrap;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 0;
    padding-right: 25vw;
  }

  #footer p{
    text-align: center;
    margin-left: -15%;
  }
}
